#!/usr/bin/make -f

# Use --as-needed in linking to prevent superfluous shlibs
export LDFLAGS=-Wl,--as-needed

%:
	dh --sourcedirectory=gtk $@

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=unix -- --enable-netplay

override_dh_auto_build:
	dh_auto_build --sourcedirectory=unix
	cd unix && $(MAKE) clean
	dh_auto_configure --sourcedirectory=gtk -- --bindir=/usr/games
	dh_auto_build --sourcedirectory=gtk

override_dh_installchangelogs:
	dh_installchangelogs docs/changes.txt
